.search-result {
    margin-top: 1.5em;
}

.business-img {
    max-height: 100px;
    max-width: 100px;
    margin-top: 10px;
}

.business {
    margin: 3px;
    border-bottom: 1px #aaa solid;
    border-collapse: collapse;
}

.business-location {
    margin-top: 10px;
}
