.search-result {
    margin-top: 1.5em;
}

.rating {
    color: #ffa500;
}

.business-img {
    max-height: 100px;
    max-width: 100px;
    margin-top: 10px;
}

.business {
    margin: 3px;
    border-bottom: 1px #aaa solid;
    border-collapse: collapse;
    padding-bottom: 10px;
}

.business:nth-child(6) {
    border-style: none;
    padding-bottom: 0;
}

.business-location,
.business-transaction {
    margin-top: 8px;
}

.transactions {
    list-style-type: none;
}

.transactions > li {
    margin-bottom: .5em;
}

.category {
    float: left;
    width: auto;
}
