.search-result {
    margin-top: 1.5em;
}

.rating {
    color: #ffa500;
}

.business {
    margin: 3px;
    border-bottom: 1px #aaa solid;
    border-collapse: collapse;
    padding-bottom: 10px;
}

.business-img {
    max-height: 100px;
    max-width: 100px;
    margin-top: 10px;
}

.business:nth-child(6) {
    border-style: none;
    padding-bottom: 0;
}

.business-location,
.business-transaction,
.business-summary,
.business-photos,
.business-details {
    margin-top: 8px;
}

.business-hours {
    padding-top: 2px;
}

.business-photo {
    max-height: 200px;
}

.today-business-hours {
    list-style-type: none;
    padding-left: 0;
}

.hours-day {
    font-family: "Lucida Console", Monaco, monospace;
}

.transactions {
    list-style-type: none;
}

.transactions > li {
    margin-bottom: .5em;
}

.category {
    float: left;
    width: auto;
}
