<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Business fragments</title>
</head>
<body>
<p th:fragment="rating(business)">
    <span class="rating" th:title="${business.rating + ' stars'}">
        <span
            class="fa"
            th:each="i : ${#numbers.sequence(0, 4)}"
            th:classappend="${business.rating - i >= 1 ? 'fa-star' : (business.rating - i > 0 ? 'fa-star-half-o' : 'fa-star-o')}">
        </span>
    </span>
    <span th:text="${business.reviewCount}">100</span> reviews
</p>
<p th:fragment="priceCategories(business, criteria)">
    <span
        class="label label-success"
        th:title="${business.pricingLevel.label + ' (' + business.pricingLevel.description + ')' }"
        th:text="${business.pricingLevel.toString()}"
    >
        $
    </span>
    <th:block th:each="category,status: ${business.categories}">
        <a
            th:href="${'/search' + criteria.inCategory(category.alias).queryStringForPage(1)}"
            th:text="${status.last ? category.title : category.title + ','}"
        >
            Category
        </a>
    </th:block>
</p>
<div th:fragment="location(business)" class="media business-location">
    <div class="media-left text-muted">
        <span class="glyphicon glyphicon-map-marker"></span>
    </div>
    <div class="media-body">
        <th:block th:each="line,status : ${business.location.displayAddress}">
            <th:block th:text="${line}">line</th:block>
            <th:block th:if="${!status.last}"><br/></th:block>
        </th:block>
    </div>
</div>
<div th:fragment="phone(business)" class="media">
    <div class="media-left text-muted">
        <span class="glyphicon glyphicon-earphone"></span>
    </div>
    <div class="media-body">
        <p th:text="${business.phone}">1234567890</p>
    </div>
</div>
</body>
</html>