<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Business fragments</title>
</head>
<body>
<p th:fragment="rating(business)">
    <span class="rating" th:title="${business.rating + ' stars'}">
        <span
            class="fa"
            th:each="i : ${#numbers.sequence(0, 4)}"
            th:classappend="${business.rating - i >= 1 ? 'fa-star' : (business.rating - i > 0 ? 'fa-star-half-o' : 'fa-star-o')}">
        </span>
    </span>
    <span th:text="${business.reviewCount}">100</span> reviews
</p>
<p th:fragment="priceCategories(business, criteria)">
    <span
        class="label label-success"
        th:title="${business.pricingLevel.label + ' (' + business.pricingLevel.description + ')' }"
        th:text="${business.pricingLevel.toString()}"
    >
        $
    </span>
    <th:block th:each="category,status: ${business.categories}">
        <a
            th:href="${'/search' + criteria.inCategory(category.alias).queryStringForPage(1)}"
            th:text="${status.last ? category.title : category.title + ','}"
        >
            Category
        </a>
    </th:block>
</p>
</body>
</html>