<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Business fragments</title>
    <!--
      - Fragments included
      - * transactions(business)
      - * rating(business)
      - * stars(rating)
      - * priceCategories(business, criteria)
      - * location(business)
      - * phone(business)
      -->
</head>
<body>
<!--
  - transactions(business)
  -
  - @param com.montealegreluis.yelpv3.businesses.Business business
  -->
<small
    th:fragment="transactions(business)"
    class="text-success"
    th:each="transaction: ${business.transactions}"
>
    <span class="glyphicon glyphicon-ok-circle"></span>
    <th:block th:text="${transaction.label}"></th:block>
</small>

<!--
  - rating(business)
  -
  - @param com.montealegreluis.yelpv3.businesses.Business business
  -->
<p th:fragment="rating(business)">
    <span th:replace="fragments/business :: stars(${business.rating})"></span>
    <span th:text="${business.reviewCount}">100</span> reviews
</p>
<!--
  - stars(rating)
  -
  - @param float rating
  -->
<span th:fragment="stars(rating)" class="rating" th:title="${rating + ' stars'}">
    <span class="rating" th:title="${rating + ' stars'}">
        <span
            class="fa"
            th:each="i : ${#numbers.sequence(0, 4)}"
            th:classappend="${rating - i >= 1 ? 'fa-star' : (rating - i > 0 ? 'fa-star-half-o' : 'fa-star-o')}"
        >
        </span>
    </span>
</span>

<!--
  - priceCategories(business, criteria)
  -
  - @param com.montealegreluis.yelpv3.businesses.Business business
  - @param com.montealegreluis.yelpv3.search.SearchCriteria criteria
  -->
<p th:fragment="priceCategories(business, criteria)">
    <span
        class="label label-success"
        th:title="${business.pricingLevel.label + ' (' + business.pricingLevel.description + ')' }"
        th:text="${business.pricingLevel.toString()}"
    >
        $
    </span>
    <th:block th:each="category,status: ${business.categories}">
        <a
            th:href="${'/search' + queryString.inCategory(category.alias).forPage(1).toString()}"
            th:text="${status.last ? category.title : category.title + ','}"
        >
            Category
        </a>
    </th:block>
</p>

<!--
  - location(business)
  -
  - @param com.montealegreluis.yelpv3.businesses.Business business
  -->
<div th:fragment="location(business)" class="media business-location">
    <div class="media-left text-muted">
        <span class="glyphicon glyphicon-map-marker"></span>
    </div>
    <div class="media-body">
        <th:block th:each="line,status : ${business.location.displayAddress}">
            <th:block th:text="${line}">line</th:block>
            <th:block th:if="${!status.last}"><br/></th:block>
        </th:block>
        <br/>
        <strong
            th:if="${business.distance != null}"
            th:text="${business.distance.convertTo(T(com.montealegreluis.yelpv3.businesses.distance.UnitOfLength).MILES).toString()}"
        ></strong>
    </div>
</div>

<!--
  - phone(business)
  -
  - @param com.montealegreluis.yelpv3.businesses.Business business
  -->
<div th:fragment="phone(business)" class="media">
    <div class="media-left text-muted">
        <span class="glyphicon glyphicon-earphone"></span>
    </div>
    <div class="media-body">
        <p th:text="${business.phone}">1234567890</p>
    </div>
</div>
</body>
</html>
