<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="${business.name}">Business details</title>
    <th:block th:replace="fragments/common :: styles">Stylesheets</th:block>
</head>
<body>
<nav th:replace="fragments/common :: main_nav">Main navigation</nav>
<div class="container">
    <header class="row">
        <div class="col-xs-12">
            <h1>
                <th:block th:text="${business.name}">Business</th:block>
                <small th:if="${business.isClaimed}">
                    <span class="glyphicon glyphicon-ok-sign text-primary"></span> Claimed
                </small>
                <small th:if="${business.schedule.isOpenNow}">
                    <span class="glyphicon glyphicon-ok-sign text-success"></span> Open now
                </small>
                <small th:if="${!business.schedule.isOpenNow}">
                    <span class="glyphicon glyphicon-ok-sign text-danger"></span> Closed now
                </small>
            </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 business-details">
            <h2>
                <small
                    th:replace="fragments/business :: transactions(${business})">
                </small>
            </h2>
            <p th:replace="fragments/business :: rating(${business})"></p>
            <p th:replace="fragments/business :: priceCategories(business=${business}, criteria=${criteria})"></p>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 business-summary">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div
                        th:replace="fragments/business :: location(${business})"
                    >
                    </div>
                    <div
                        th:replace="fragments/business :: phone(${business})"
                    >
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-6 business-map">
            <div id="business-map"></div>
        </div>
    </header>
    <section class="row business-details">
        <aside class="col-xs-12 col-sm-4 col-md-3">
            <div class="panel panel-default hours">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left text-primary">
                            <span
                                th:classappend="${business.schedule.isOpenNow ? 'text-success' : 'text-danger'}"
                                class="glyphicon glyphicon-time"
                            >
                            </span>
                        </div>
                        <div class="media-body">
                            <ul class="today-business-hours">
                                <li th:if="${business.schedule.isOpenNow}">
                                    Today <strong class="text-success">Open now</strong>
                                </li>
                                <li th:if="${!business.schedule.isOpenNow}">
                                    Today <strong class="text-danger">Closed now</strong>
                                </li>
                                <li th:each="hours : ${business.schedule.hoursFor(today)}">
                                    <strong
                                        th:text="${hours.start.toString() + ' - ' + hours.end.toString() + ' hrs.'}"
                                    >
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <strong
                                class="text-success"
                                th:title="${business.pricingLevel.label}"
                                th:text="${business.pricingLevel.toString()}"
                            >
                                $
                            </strong>
                        </div>
                        <div class="media-body">
                            <p>
                                Price range
                                <strong
                                    th:text="${business.pricingLevel.description}"
                                >
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h3 class="text-primary">Hours</h3>
                    <div class="media" th:each="entry : ${business.schedule.hours}">
                        <div class="media-left">
                            <strong
                                th:text="${entry.key.getDisplayName(T(java.time.format.TextStyle).SHORT, T(java.util.Locale).US)}"
                                class="hours-day"
                            ></strong>
                        </div>
                        <div class="media-body business-hours">
                            <span
                                class="pull-right"
                                th:if="${today.equals(entry.key) and business.schedule.isOpenNow}"
                            >
                                <strong class="text-success">Open now</strong>
                            </span>
                            <span
                                class="pull-right"
                                th:if="${today.equals(entry.key) and !business.schedule.isOpenNow}"
                            >
                                <strong class="text-danger">Closed now</strong>
                            </span>
                            <p th:each="hours : ${entry.value}">
                                <span
                                    th:text="${hours.start.toString() + ' - ' + hours.end.toString() + ' hrs.'}"
                                >
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-xs-12 col-sm-8 col-md-9">
            <div class="col-xs-12">
                <div class="col-xs-12 col-sm-4" th:each="photo : ${business.photos}">
                    <img
                        th:src="${photo}"
                        th:alt="${business.name}"
                        class="img-responsive img-thumbnail business-photo center-block"
                    />
                </div>
            </div>
            <div class="col-xs-12">
                <h2>Reviews</h2>
                <div class="media" th:each="review : ${reviews}">
                    <div class="media-left">
                        <img
                            class="business-reviewer"
                            th:src="${review.user.image}"
                            th:alt="${review.user.name}"
                        />
                    </div>
                    <div class="media-body">
                        <p>
                            <span th:replace="fragments/business :: stars(${review.rating})"></span>
                            <small
                                class="text-muted"
                                th:text="${format.format(review.createdAt)}"
                            >
                            </small>
                        </p>
                        <p>
                            "
                            <th:block th:text="${review.text}"></th:block>
                            "
                            <a th:href="${review.url}" target="_blank" rel="noopener">
                                <small class="text-muted">
                                    <th:block th:text="${review.user.name}"></th:block>
                                    <span class="glyphicon glyphicon-new-window"></span>
                                </small>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="row business-similar">
        <div class="col-xs-12"><h3>You might also consider</h3></div>
        <div class="col-xs-12 col-sm-4" th:each="business: ${similarBusinesses}">
            <div class="panel">
                <div class="panel-body">
                    <div class="media">
                        <div class="media-left">
                            <img
                                th:src="${business.image}"
                                th:alt="${business.name}"
                                class="media-object business-img"
                            />
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">
                                <a
                                    th:text="${business.name}"
                                    th:href="'/business/' + ${business.id}"
                                ></a>
                            </h4>
                            <p>
                                <span class="glyphicon glyphicon-map-marker"></span>
                                <th:block
                                    th:text="${business.distance.convertTo(T(com.montealegreluis.yelpv3.businesses.distance.UnitOfLength).MILES).toString()}"
                                >
                                    0 miles
                                </th:block>
                            </p>
                            <p th:replace="fragments/business :: rating(${business})"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<th:block th:replace="fragments/common :: scripts">Scripts</th:block>
<script src="/map-business.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    (function () {
        var center = /*[[${mapCenter}]]*/ 0;
        center = JSON.parse(center);
        const map = new Map(document.getElementById('business-map'), center);
        map.changeTypeTo(google.maps.MapTypeId.HYBRID);
        map.addMarkerAt(center.latitude, center.longitude);
    })();
    /*]]>*/
</script>
</body>
</html>
