<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${business.basicInformation.name}">Business details</title>
    <th:block th:replace="fragments/common :: styles">Stylesheets</th:block>
</head>
<body>
<nav th:replace="fragments/common :: main_nav">Main navigation</nav>
<div class="container">
    <header class="row">
        <div class="col-xs-12">
            <div class="col-xs-12">
                <h1 th:text="${business.basicInformation.name}">Business</h1>
            </div>
            <div class="col-xs-7 business-details">
                <h4>
                    <small class="text-primary" th:if="${business.details.isClaimed}">
                        <span class="glyphicon glyphicon-ok-sign"></span> Claimed
                    </small>
                    <small
                        th:replace="fragments/business :: transactions(${business.basicInformation})">
                    </small>
                </h4>
                <p th:replace="fragments/business :: rating(${business.basicInformation})"></p>
                <p th:replace="fragments/business :: priceCategories(business=${business.basicInformation}, criteria=${criteria})"></p>
            </div>
            <div class="col-xs-3 business-summary">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div
                            th:replace="fragments/business :: location(${business.basicInformation})"
                        >
                        </div>
                        <div
                            th:replace="fragments/business :: phone(${business.basicInformation})"
                        >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-2 business-map">
                <div class="embed-responsive embed-responsive-4by3">
                    <div
                        id="business-map"
                        class="embed-responsive-item"
                    ></div>
                </div>
            </div>
        </div>
    </header>
    <section class="row business-details">
        <div class="col-xs-9">
            <div class="col-xs-12">
                <div class="col-xs-4" th:each="photo : ${business.details.photos}">
                    <img
                        th:src="${photo}"
                        th:alt="${business.basicInformation.name}"
                        class="img-responsive img-thumbnail business-photo center-block"
                    />
                </div>
            </div>
            <div class="col-xs-12">
                <h2>Reviews</h2>
                <div class="media" th:each="review : ${reviews}">
                    <div class="media-left">
                        <img
                            class="business-reviewer"
                            th:src="${review.user.image}"
                            th:alt="${review.user.name}"
                        />
                    </div>
                    <div class="media-body">
                        <p>
                            <span th:replace="fragments/business :: stars(${review.rating})"></span>
                            <small
                                class="text-muted"
                                th:text="${format.format(review.createdAt)}"
                            >
                            </small>
                        </p>
                        <p>
                            "
                            <th:block th:text="${review.text}"></th:block>
                            "
                            <a th:href="${review.url}" target="_blank" rel="noopener">
                                <small class="text-muted">
                                    <th:block th:text="${review.user.name}"></th:block>
                                    <span class="glyphicon glyphicon-new-window"></span>
                                </small>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <aside class="col-xs-3">
            <div class="panel panel-default hours">
                <div class="panel-heading">
                    <div class="media">
                        <div class="media-left text-primary">
                            <span class="glyphicon glyphicon-time"></span>
                        </div>
                        <div class="media-body">
                            <ul class="today-business-hours">
                                <li th:if="${business.details.schedule.isOpenNow}">
                                    Today <strong class="text-success">Open now</strong>
                                </li>
                                <li th:if="${!business.details.schedule.isOpenNow}">
                                    Today <strong class="text-danger">Closed now</strong>
                                </li>
                                <li th:each="hours : ${business.details.schedule.hoursFor(today)}">
                                    <strong
                                        th:text="${hours.start.toString() + ' - ' + hours.end.toString()}"
                                    >
                                    </strong>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <strong
                                class="text-success"
                                th:title="${business.basicInformation.pricingLevel.label}"
                                th:text="${business.basicInformation.pricingLevel.toString()}"
                            >
                                $
                            </strong>
                        </div>
                        <div class="media-body">
                            <p>
                                Price range
                                <strong
                                    th:text="${business.basicInformation.pricingLevel.description}"
                                >
                                </strong>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <h3 class="text-primary">Hours</h3>
                    <div class="media" th:each="entry : ${business.details.schedule.hours}">
                        <div class="media-left">
                            <strong
                                th:text="${entry.key.getDisplayName(T(java.time.format.TextStyle).SHORT, T(java.util.Locale).US)}"
                                class="hours-day"
                            ></strong>
                        </div>
                        <div class="media-body business-hours">
                            <span
                                class="pull-right"
                                th:if="${today.equals(entry.key) and business.details.schedule.isOpenNow}"
                            >
                                <strong class="text-success">Open now</strong>
                            </span>
                            <span
                                class="pull-right"
                                th:if="${today.equals(entry.key) and !business.details.schedule.isOpenNow}"
                            >
                                <strong class="text-danger">Closed now</strong>
                            </span>
                            <p th:each="hours : ${entry.value}">
                                <span
                                    th:text="${hours.start.toString() + ' - ' + hours.end.toString() + ' hrs.'}"
                                >
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>
</div>
<th:block th:replace="fragments/common :: scripts">Scripts</th:block>
<script src="/map-business.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    const latitude = /*[[${business.basicInformation.coordinates.latitude}]]*/ 0;
    const longitude = /*[[${business.basicInformation.coordinates.longitude}]]*/ 0;
    new Map(document.getElementById('business-map'), latitude, longitude).show();
    /*]]>*/
</script>
</body>
</html>