<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Search Businesses in your area!!</title>
    <link
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"
    />
    <th:block th:replace="fragments/common :: styles">Stylesheets</th:block>
</head>
<body>
<nav
    th:replace="fragments/common :: mainNavigation(${null})"
></nav>
<header class="jumbotron home">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 search-home">
                <form
                    action="/search"
                    class="text-center"
                    th:if="${result == null}"
                    th:include="fragments/search :: searchForm(${categories})"
                ></form>
            </div>
        </div>
    </div>
</header>
<th:block th:replace="fragments/common :: scripts">Scripts</th:block>
<script src="/map-business.js"></script>
<script th:if="${result != null}" th:inline="javascript">
    /*<![CDATA[*/
    (function () {
        const businesses = /*[[${businesses}]]*/ '';
        const center = /*[[${mapCenter}]]*/ '';
        const map = new Map(document.getElementById('businesses-map'), JSON.parse(center));
        map.addMarkers(JSON.parse(businesses));
    })();
    /*]]>*/
</script>
</body>
</html>
