<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Search Businesses in your area!!</title>
    <link
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        rel="stylesheet"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous"
    />
    <th:block th:replace="fragments/common :: styles">Stylesheets</th:block>
</head>
<body>
<nav th:replace="fragments/common :: mainNavigation(${categories})"></nav>
<header class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3 th:text="${'Browsing San Antonio, TX, Businesses'}"></h3>
                <form action="/search">
                    <input type="hidden" name="categories" th:value="${category}"/>
                    <input
                        type="hidden"
                        name="latitude"
                        th:value="${result.region.center.latitude}"
                    />
                    <input
                        type="hidden"
                        name="longitude"
                        th:value="${result.region.center.longitude}"
                    />
                    <div class="btn-group" data-toggle="buttons">
                        <label
                            class="btn btn-success"
                            th:if="${!pricing.equals(T(com.montealegreluis.yelpv3.businesses.PricingLevel).NONE)}"
                            th:each="pricing : ${pricingLevels}"
                        >
                            <input
                                type="radio"
                                name="pricing"
                                autocomplete="off"
                                th:value="${pricing.symbol}"
                            />
                            <span
                                th:text="${pricing.symbol}"
                                th:title="${pricing.description}"
                            ></span>
                        </label>
                    </div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info">
                            <input
                                type="radio"
                                name="open_now"
                                autocomplete="off"
                                value="true"
                            />
                            <span class="glyphicon glyphicon-time"></span>
                            <span>Open now</span>
                        </label>
                    </div>
                    <label>Distance</label>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default">
                            <input
                                type="radio"
                                name="distance"
                                autocomplete="off"
                                value="1"
                            />
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                            <span>Walking (1 mi.)</span>
                        </label>
                        <label class="btn btn-default">
                            <input
                                type="radio"
                                name="distance"
                                autocomplete="off"
                                value="1"
                            />
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                            <span>Biking (2 mi.)</span>
                        </label>
                        <label class="btn btn-default">
                            <input
                                type="radio"
                                name="distance"
                                autocomplete="off"
                                value="5"
                            />
                            <span class="glyphicon glyphicon-option-horizontal"></span>
                            <span>Driving (5 mi.)</span>
                        </label>
                    </div>
                    <button class="btn btn-primary">
                        <span class="glyphicon glyphicon-search"></span>
                        Refine search
                    </button>
                </form>
            </div>
        </div>
    </div>
</header>
<main class="container">
    <div th:if="${result != null}" class="row search-result">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Showing
                    <th:block th:text="${criteria.offset() + 1}">1</th:block>
                    -
                    <th:block th:text="${criteria.offset() + result.businesses.size()}">
                        5
                    </th:block>
                    of
                    <th:block th:text="${#numbers.formatInteger(result.total, 0, 'COMMA')}">
                        1600
                    </th:block>
                    <th:block th:if="${pagination.exceedsAPILimit()}">
                        (Only <span th:text="${pagination.last()}">5</span> pages available)
                    </th:block>
                    <th:block th:if="${!pagination.exceedsAPILimit()}">
                        (<span th:text="${pagination.last()}">5</span> pages)
                    </th:block>
                </div>
                <div class="row">
                    <div class="col-xs-12 businesses-map">
                        <div id="businesses-map"></div>
                    </div>
                </div>
                <div
                    th:id="${business.id}"
                    class="row business"
                    th:each="business: ${result.businesses}"
                >
                    <div class="col-xs-4 col-md-2 text-center">
                        <img
                            class="img-responsive img-rounded business-img"
                            th:src="${business.image}"
                            th:alt="${business.name}"
                        />
                    </div>
                    <div class="col-xs-8 col-md-6">
                        <h4>
                            <a
                                th:href="${'/business/' + business.id}"
                                th:text="${business.name}"
                            >
                                Media heading
                            </a>
                            <small th:replace="fragments/business :: transactions(${business})">
                            </small>
                        </h4>
                        <p th:replace="fragments/business :: rating(${business})"></p>
                        <p th:replace="fragments/business :: priceCategories(business=${business}, criteria=${criteria})"></p>
                        <p>
                            <i class="fa fa-yelp text-danger"></i>
                            <a th:href="${business.url}" target="_blank" rel="noopener">
                                View on Yelp
                                <small class="glyphicon glyphicon-new-window"></small>
                            </a>
                        </p>
                    </div>
                    <div class="col-xs-offset-4 col-xs-8 col-md-offset-0 col-md-4 business-location">
                        <div th:replace="fragments/business :: location(${business})"></div>
                        <div th:replace="fragments/business :: phone(${business})"></div>
                    </div>
                </div>
                <div
                    class="panel-footer text-center"
                    th:with="limit=${pagination.last() - pagination.currentPage() > 4 ? pagination.currentPage() + 4 : pagination.last()}"
                    th:if="${pagination.hasPages()}"
                >
                    <ul
                        th:replace="fragments/pagination :: pages(${queryString}, ${pagination}, ${limit})"
                    ></ul>
                </div>
            </div>
        </div>
    </div>
</main>
<th:block th:replace="fragments/common :: scripts">Scripts</th:block>
<script src="/map-business.js"></script>
<script th:if="${result != null}" th:inline="javascript">
    /*<![CDATA[*/
    (function () {
        const businesses = /*[[${businesses}]]*/ '';
        const center = /*[[${mapCenter}]]*/ '';
        const map = new Map(document.getElementById('businesses-map'), JSON.parse(center));
        map.addMarkers(JSON.parse(businesses));
    })();
    /*]]>*/
</script>
</body>
</html>
