<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search Businesses in your area!!</title>
    <link
        rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/app.css" />
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Business finder</a>
        </div>
    </div><!-- /.container-fluid -->
</nav>
<main class="container">
    <div class="row">
        <div class="col-xs-12">
            <form action="/search" class="text-center">
                <div class="input-group input-group-lg">
                    <input
                        class="form-control"
                        placeholder="Find businesses near you..."
                        name="location"
                    />
                    <span class="input-group-btn">
                        <button class="btn btn-primary">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div th:if="${result != null}" class="row search-result">
        <div class="col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Showing 1-<th:block th:text="${result.businesses.size()}">5</th:block>
                    of
                    <th:block th:text="${result.total}">1600</th:block>
                    <th:block th:if="${pagination.exceedsAPILimit()}">
                        (Only <span th:text="${pagination.last()}">5</span> pages available)
                    </th:block>
                    <th:block th:if="${!pagination.exceedsAPILimit()}">
                        (<span th:text="${pagination.last()}">5</span> pages)
                    </th:block>
                </div>
                <div class="row business" th:each="business: ${result.businesses}">
                    <div class="col-xs-2 text-center">
                        <a th:href="${business.url}">
                            <img
                                class="img-responsive img-rounded business-img"
                                th:src="${business.image}"
                                th:alt="${business.name}"
                            />
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <h4 th:text="${business.name}">
                            Media heading
                        </h4>
                        <p>
                            <span th:text="${business.rating}">5</span> stars,
                            <span th:text="${business.reviewCount}">100</span> reviews
                        </p>
                        <p>
                            <span th:text="${business.pricingLevel.toString()}">$</span>
                            <th:block th:each="category,status: ${business.categories}">
                                <th:block th:text="${category.title}">Category</th:block>
                                <th:block th:if="${!status.last}">,</th:block>
                            </th:block>
                        </p>
                    </div>
                    <div class="col-xs-4">
                        <p class="business-location">
                            <th:block th:each="line,status : ${business.location.displayAddress}">
                                <th:block th:text="${line}">line</th:block>
                                <th:block th:if="${!status.last}"><br/></th:block>
                            </th:block>
                        </p>
                        <p th:text="${business.phone}">1234567890</p>
                    </div>
                    <div
                        class="col-xs-2 business-transaction"
                        th:if="${business.transactions.size() > 0}"
                    >
                        <ul class="transactions">
                            <li th:each="transaction: ${business.transactions}">
                                <span class="label label-default">
                                    <i class="glyphicon glyphicon-tag"></i>
                                    <th:block th:text="${transaction}">
                                        Transaction
                                    </th:block>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div
                    class="panel-footer text-center"
                    th:with="limit=${pagination.currentPage() + 4}"
                    th:if="${pagination.hasPages()}"
                >
                    <ul class="pagination">
                        <li th:if="${1 != pagination.currentPage()}">
                            <a
                                th:href="${criteria.queryStringForPage(pagination.first())}"
                                aria-label="First page"
                                title="First page"
                            >
                                <span>&laquo;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.hasPrevious()}">
                            <a
                                th:href="${criteria.queryStringForPage(pagination.previous())}"
                                aria-label="Previous page"
                                title="Previous page"
                            >
                                <span>&lt;</span>
                            </a>
                        </li>
                        <li
                            th:classappend="${i == pagination.currentPage()} ? 'active' : ''"
                            th:each="i : ${#numbers.sequence(pagination.currentPage(), limit/1)}"
                        >
                            <a
                                th:href="${criteria.queryStringForPage(i)}"
                                th:aria-label="${'Page ' + i}"
                                th:title="${'Page ' + i}"
                            >
                                <span th:text="${i}">1</span>
                            </a>
                        </li>
                        <li th:if="${pagination.hasNext()}">
                            <a
                                th:href="${criteria.queryStringForPage(pagination.next())}"
                                aria-label="Next"
                                title="Next"
                            >
                                <span>&gt;</span>
                            </a>
                        </li>
                        <li th:if="${pagination.last() != pagination.currentPage()}">
                            <a
                                th:href="${criteria.queryStringForPage(pagination.last())}"
                                aria-label="Last page"
                                title="Last page"
                            >
                                <span>&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
<script
    src="http://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"
>
</script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"
></script>
</body>
</html>